@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
}
#root{
min-height: 100vh;
  display: flex;
  flex-direction: column;
}

